<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Convidados</title>
    <!-- Adicione os links para os arquivos CSS e scripts JS, se necessário -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Bem-vindo à Gestão de Convidados</h1>    
    <!-- Adicione o link para a página de lista de convidados -->
    <a th:href="@{/convidados}"><button type="submit">Ver lista de convidados</button></a>
    
    <!-- Adicione links para outras páginas do seu projeto, se houver -->
    
    <footer>
        <p>Desenvolvido por Joel Dos Santos</p>
    </footer>
</body>
</html>
